extends layout

block content
    div.div1
        button#Btn1 切换内容
    div.div2
        include delete
        mixin link(href,name)
            a(class!=attributes.class,href=href)=name
        +link('/foo','foo')(class="btn")
        mixin pets(pets)
            ul.pets
                - each pet in pets
                    li= pet
        + pets(['dog','cat','pig'])
        mixin list
            ul
                li foo
                li bar
                li baz
        + list()
        - var friends = 10;
        case friends
            when 0: p 进来的不对
            when 1: p 进来的也不对
            default: p you have #{friends} friends
        ul
            each val,index in ['西瓜', '苹果', '梨子']
                li= index+1 +':'+ val
        ul
            each val,index in {"title":'汽车',"saleNum":'火车', "levelName":'飞机'}
                li= index+ ':' +val
        - var arrs =[1,2,3]
            ul
                - for (var i=0;i<arrs.length;++i) {
                    li 报数 #{arrs[i]}
                - }
        - var user = { description: '我喜欢猫' };
        - if (user.description)
            h2 描述
            p.description= user.description
        - else
            h1 不可描述
            p.description 用户无描述
        - var html ="<script></script>";
            | !{html}
        h2 ip地址是#{ip}
        h1.title= '这是测试'+ mark
        h3 这是标题:#{ mark }
        h3 我叫:#{ username }
        h3 我的年龄是:#{ age }
        p 这是JS的格式:!{ JSON.stringify(username) }
        form(action="",method="post")#myform
            span name
            input(type="text" name="userName" placeholder="请出入姓名")
            <br/>
            span age
            input(type="text" name="userAge" placeholder="请输入年龄")
            <br/>
            input(type="submit" value="提交")
        img(src="/images/logo.jpg")
block scripts
    script(src='/javascript/public.js')


