mixin headerTab(mold, sortitem)
    h3#div(data-mold=mold) #{mold}
    h3 #{sortitem.errorcode}
    -if (sortitem.errorcode == 201)
      +itemGroup(sortitem.data)
    -else
        h2 代码错误


mixin itemGroup(item)
    ul
        each val,index in item
            each items in val.mark
                li #{items}
            li #{val.title}
            li #{val.subtitle}
            li #{val.price}
            li #{val.introduce}
            li #{val.notice}